.heading-1{
    font-family: "Alegreya Sans SC";
    font-weight: 900;
    font-size: 40px;
    color: rgb(151, 0, 221);
    display: flex;
    justify-content: center;
}

.heading-2{
    font-family: "Alegreya Sans SC";
    font-weight: 900;
    font-size: 20px;
    color: rgb(151, 0, 221);
    display: flex;
    justify-content: center;
}

.heading3{
    font-size: 20px;
}