.profile-section{
    display: flex;
    padding: 10px;
    justify-content:left;
    flex-wrap: wrap;
}

#profile{
    padding: 10px;
    background-color: rgb(151, 0, 221);
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    width: 350px;
}

.profile-head{
    display: flex;
    align-items: center;
    /* border: white 2px solid; */
}

.photo{
    border-radius: 50%;
    border:rgb(255, 196, 2) 8px solid;
}

.photo-div{
    padding: 5px;
    display: flex;
    border-radius: 50%;
}
.name-div{
    /* border:white 5px solid; */
    color:white;
    font-weight: 900;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.description{
    color: rgb(116, 0, 170);
    background-color: rgb(255, 251, 0);
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    font-family: "Hammersmith One";
    font-weight: 900;
    /* width: 400px; */
    font-size:15px;
}

.education{
    /* border : white 5px solid; */
    font-weight: 600;
    font-size: 13px;
}

#in-name{
    font-size: 16px;
}